---
import LayoutMain from "../../layouts/LayoutMain.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getPosts } from "../../lib/blogger-api";

const blogPosts = await getPosts();
---

<LayoutMain>
  <section
    class="relative bg-gradient-to-br from-gray-900 via-gray-800 to-black text-white
	pt-30 pb-20"
  >
    <div class="max-w-7xl mx-auto px-4">
      <div class="text-center mb-10 relative">
        <div
          class="absolute inset-0 blur-[100px] bg-blue-500/20 rounded-full z-0 max-w-full"
        >
        </div>
        <h1
          class="text-5xl md:text-6xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-r
		  from-cyan-400 to-purple-500 relative z-10"
        >
          Recursos Útiles
        </h1>
        <p class="text-xl text-gray-300 max-w-3xl mx-auto relative z-10">
          Una colección de artículos, tutoriales y guías para ayudarte a mejorar
          tus habilidades en desarrollo web, contabilidad, finanzas y más.
        </p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {blogPosts > 0 ? blogPosts.map((post) => <BlogPost post={post} />) : null}
      </div>
    </div>
  </section>
</LayoutMain>
