---
import Layout from "../layouts/LayoutMain.astro";
---

<Layout>
  <section class="relative text-white overflow-hidden">
    <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div
        class="flex flex-col-reverse items-center py-16 pt-38 lg:flex-row lg:gap-12"
      >
        <div class="flex-[1.2] text-center lg:text-left">
            <h1
            class="mt-8 text-4xl font-bold tracking-tight sm:text-6xl md:text-7xl lg:text-6xl lg:mt-0 xl:text-7xl leading-20"
            >
            De peque帽os inicios a <span class="text-[#0097B2]"
              >grandes soluciones</span
            >
            </h1>
          <p class="mt-6 lg:w-4/5 text-lg lg:text-xl leading-6 text-gray-200">
            Somos un equipo apasionado que busca ayudar a peque帽as y grandes empresas
            a potenciar su negocio con soluciones tecnologicas.
          </p>
          <p class="mt-4 lg:w-4/5 text-lg lg:text-xl leading-6 text-gray-300">
            Creemos en el poder de la tecnolog铆a para hacer crecer a quienes conf铆an en nosotros.
            Nuestro compromiso es brindar un servicio cercano, transparente y eficiente.
          </p>
          <div class="mt-8 text-2xl font-semibold text-[#0097B2]">
             Innovamos para tu 茅xito, avanzamos juntos.
          </div>
        </div>
        <div class="flex-1 hidden lg:flex flex-col gap-4">
          <div class="relative rounded-2xl">
            <img
              src="https://media.istockphoto.com/id/2161842575/photo/business-people-in-the-office.jpg?s=1024x1024&w=is&k=20&c=HkgePo2mc5Xf3iBkCLwFrkWVRlyJP0HY7K5rMwucilk="
              alt="Equipo trabajando juntos"
              class="w-3/4 ml-auto h-auto rounded-2xl shadow-[0_0_20px_#a9d7fd]"
            />
          </div>
          <div class="relative rounded-2xl">
            <img
              src="https://media.istockphoto.com/id/951659772/photo/there-is-no-limits-for-us.jpg?s=1024x1024&w=is&k=20&c=27VDPVRsAL_nSSpSSFddCtCNnEwp6_4tywkk2zxe6Zg="
              alt="Colaboraci贸n en equipo"
              class="w-3/4 ml-auto h-auto rounded-2xl shadow-[0_0_20px_#a9d7fd]"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Secci贸n de Misi贸n y Visi贸n -->
  <div class="relative py-16 text-white">
    <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="text-center">
          <h2 class="text-4xl font-bold tracking-tight">
            Nuestra <span class="text-[#0097B2]">Misi贸n</span>
          </h2>
          <p class="mt-6 text-lg leading-6 text-gray-300">
            Ayudar y mejorar la visibilidad de nuestros clientes en la web, evitando dolores de cabeza por el manejo de esta infraestructura y permiti茅ndoles enfocarse en lo que realmente importa: su negocio. Nos comprometemos a ofrecer soluciones tecnol贸gicas innovadoras y eficientes que impulsen el crecimiento de nuestros clientes en el mercado digital.
          </p>
        </div>
        <div class="text-center">
          <h2 class="text-4xl font-bold tracking-tight">
            Nuestra <span class="text-[#0097B2]">Visi贸n</span>
          </h2>
          <p class="mt-6 text-lg leading-6 text-gray-300">
            Ser un pilar fundamental para nuestros clientes en el manejo de su infraestructura tecnol贸gica, permiti茅ndoles alcanzar sus objetivos de negocio con confianza y seguridad. Nos esforzamos por ser l铆deres en innovaci贸n y servicio, ofreciendo soluciones personalizadas que se adapten a las necesidades espec铆ficas de cada cliente. 
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
