---

---

<section class="text-black py-20">
  <div class="max-w-7xl px-4 sm:px-6 lg:px-8 mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-4xl lg:text-6xl text-white font-bold mb-2">¿Por qué elegir Alernal?</h2>
      <p class="text-gray-300 text-lg lg:text-xl mx-auto">
        Más que un servicio, somos aliados estratégicos para tu empresa.
      </p>
    </div>

    <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
      <div class="text-start py-6 md:w-[500px] md:justify-self-start">
        <h3 class="text-xl md:text-4xl mb-2 text-white font-semibold">
          <span class="text-[#0097B2]">Gestión</span> de Impuestos
        </h3>
        <p class="text-lg text-gray-300">
            Nos encargamos de la agenda de impuestos de tu empresa, evitando que te preocupes por fechas límite o sanciones.
        </p>
      </div>
      <div class="text-end py-6 md:w-[500px] md:justify-self-end">
        <h3 class="text-xl md:text-4xl mb-2 text-white font-semibold">
          <span class="text-[#0097B2]">Defensa</span> ante Abusos
        </h3>
        <p class="text-lg text-gray-300">
            Siempre estamos del lado de nuestros clientes, protegiéndolos de cualquier abuso o error por parte de autoridades fiscales.
        </p>
      </div>
      <div class="text-start py-6 md:w-[500px] md:justify-self-start">
        <h3 class="text-xl md:text-4xl mb-2 text-white font-semibold">
          <span class="text-[#0097B2]">Desarrollo</span> a la Medida  
        </h3>
        <p class="text-lg text-gray-300">
            Creamos soluciones de software personalizadas según las necesidades y requerimientos específicos de tu negocio.
        </p>
      </div>
      <div class="text-end py-6 md:w-[500px] md:justify-self-end">
        <h3 class="text-xl md:text-4xl mb-2 text-white font-semibold">
          <span class="text-[#0097B2]">Infraestructura</span> Sostenible
        </h3>
        <p class="text-lg text-gray-300">
            Gestionamos toda la infraestructura tecnológica de tu empresa: web, soporte de equipos, correos electrónicos, bases de datos, y más.
        </p>
      </div>
    </div>
  </div>
</section>
