---

---

<div class="relative pt-16 text-white overflow-hidden">
  <!-- Main content -->
  <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="flex flex-col-reverse items-center py-16 lg:py-34 lg:flex-row lg:gap-8"
    >
      <!-- Left column - Text content -->
      <div class="flex-1 text-center lg:text-left">
        <h1
          class="mt-8 text-4xl font-bold tracking-tight sm:text-5xl lg:mt-0 lg:text-6xl xl:text-7xl"
        >
          Potencia tu negocio <span class="text-[#0097B2]">¡Ahora!</span>
        </h1>

        <p class="mt-6 lg:w-3/4 text-xl leading-8 text-gray-200">
          Optimiza tu negocio con nuestros servicios de contabilidad y
          desarrollo de software.
        </p>

        <div class="mt-10">
          <a
            href="#"
            class="inline-flex items-center rounded-md bg-[#0097B2] px-6 py-3 text-base font-semibold text-white shadow-sm hover:opacity-90 focus-visible:outline-offset-2 focus-visible:outline-teal-500 transition-colors duration-200"
          >
            Agendar Consulta
          </a>
        </div>
      </div>

      <!-- Right column - Image -->
      <div class="flex-1 hidden lg:block">
        <div class="relative rounded-2xl">
          <img
            src="/images/hero.jpg"
            alt="Professional working on laptop"
            class="w-5/6 h-auto rounded-2xl ml-auto"
          />
        </div>
      </div>
    </div>
  </div>
</div>
