---
import Graph from  '../assets/icons/Graph.astro';
import Server from  '../assets/icons/Server.astro';
---

<section class="w-full text-white py-16">
    <div class="max-w-7xl mx-auto px-4">
      <div class="text-center mb-12">
        <h2 class="text-4xl lg:text-6xl font-bold mb-2">Nuestros Servicios</h2>
        <p class="text-gray-300 max-w-3xl lg:text-xl mx-auto">
          Soluciones integrales en contabilidad y tecnología para impulsar tu empresa
        </p>
      </div>
  
      <div class="grid md:grid-cols-2 gap-5 lg:gap-10 max-w-5xl mx-auto">
        <!-- Contabilidad para PYMEs -->
        <div class="border border-gray-800 rounded-lg p-8 w-full">
          <div class="mb-6">
            <div class="w-full text-cyan-400 mb-4">
              <Graph />
            </div>
            <h3 class="text-xl font-bold mb-2">Desarrollo de Software</h3>
            <p class="text-gray-400 md:text-xs lg:text-sm mb-6">
              Ofrecemos soluciones tecnológicas integrales: infraestructura en la nube, desarrollo de sistemas y
              soporte continuo para impulsar la eficiencia de tu empresa.
            </p>
          </div>
  
          <ul class="space-y-2">
            <li class="flex items-start">
              <span class="text-cyan-400 mr-2">•</span>
              <span>Soluciones a la Medida.</span>
            </li>
            <li class="flex items-start">
              <span class="text-cyan-400 mr-2">•</span>
              <span>Servicio y Soporte en la Nube.</span>
            </li>
            <li class="flex items-start">
              <span class="text-cyan-400 mr-2">•</span>
              <span>Integración de APIs.</span>
            </li>
            <li class="flex items-start">
              <span class="text-cyan-400 mr-2">•</span>
              <span>Automatización de Procesos.</span>
            </li>
          </ul>
        </div>
  
        <!-- Soluciones Tecnológicas -->
        <div class="border border-gray-800 rounded-lg p-8 w-full">
          <div class="mb-6">
            <div class="w-full text-cyan-400 mb-4">
              <Server />
            </div>
            <h3 class="text-xl font-bold mb-2">Soporte en Sistemas</h3>
            <p class="text-gray-400 md:text-xs lg:text-sm mb-6">
              Brindamos asistencia técnica y mantenimiento para garantizar el funcionamiento óptimo de tus sistemas y plataformas tecnológicas.
            </p>
          </div>
  
          <ul class="space-y-2">
            <li class="flex items-start">
              <span class="text-cyan-400 mr-2">•</span>
              <span>Soporte y Mantenimiento.</span>
            </li>
            <li class="flex items-start">
              <span class="text-cyan-400 mr-2">•</span>
              <span>Administración de Servidores.</span>
            </li>
            <li class="flex items-start">
              <span class="text-cyan-400 mr-2">•</span>
              <span>Seguridad y Respaldo de Datos.</span>
            </li>
            <li class="flex items-start">
              <span class="text-cyan-400 mr-2">•</span>
              <span>Infraestructura en la Nube.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  